@import './utility.css';

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: center; */
}

/* .app {
    display: flex;
    flex-direction: column;
} */