:root {
    /* fonts */
    --font-primary: sans-serif;

    /* colors */
    --dark: #111;
    --green: #0c6147;
    --light: #eee;
    --white: #fff;

    /* sizes */
    --size-50: .5rem;
    --size-100: 1rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
}