:root {
    /* fonts */
    --font-primary: sans-serif;
    
    /* colors */
    --dark: #111;
    --green: #0c6147;
    --light: #eee;

    /* sizes */
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-175: 1.75rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
}