@import './reset.css';
@import './composition.css';
@import './utility.css';
@import './blocks.css';

.dice.rollDiceAnim {
    animation: rollDiceAnim 250ms ease-out 3;
}

@keyframes rollDiceAnim {
    25% {
        transform: translateX(-7rem) translateY(2rem) scale(1.2) rotateZ(-45deg);
    }
    75% {
        transform: translateX(7rem) translateY(-2rem) scale(1.3) rotateZ(45deg);
    }
}