@import './reset.css';
@import './composition.css';
@import './utility.css';
@import './blocks.css';

@keyframes rollDiceAnim {
    25% {
        transform: translateX(-7rem) translateY(2rem) rotateZ(-45deg);
    }
    75% {
        transform: translateX(7rem) translateY(-2rem) rotateZ(45deg);
    }
}

.dice.rollDiceAnim {
    animation: rollDiceAnim 250ms ease-out 3;
}